[submodule "deps/xmr-stak"]
	path = deps/xmr-stak
	url = https://github.com/jplomas/xmr-stak
[submodule "deps/py-cryptonight"]
	path = deps/py-cryptonight
	url = https://github.com/theQRL/py-cryptonight
